# Constructor for testResult object

Constructor for testResult object

## Usage

``` r
new_testResult(Tn, Tn_star, decision, p_value, hypothesis, B, alpha, h1, h2)
```
