# Print generic for testResult S3 class

Print generic for testResult S3 class

## Usage

``` r
# S3 method for class 'testResult'
print(x, ...)
```

## Arguments

- x:

  testResult object

- ...:

  additional parameters for printing (might become relevant in future
  versions)
