# summary generic for S3 testResult class

summary generic for S3 testResult class

## Usage

``` r
# S3 method for class 'testResult'
summary(object, ...)
```

## Arguments

- object:

  testResult object

- ...:

  additional parameters for printing (might become relevant in future
  versions)
