# summary generic for S3 testResult class

summary generic for S3 testResult class

## Usage

``` r
# S3 method for class 'testResult'
summary(x, ...)
```
