on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: Tests

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::testthat, any::devtools
          needs: check
      - name: Run tests
        run: devtools::test()
        shell: Rscript {0}
